.bizon365_timer_app_embedded {
  margin-top: 15px;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}